@import "tailwindcss";

@keyframes indeterminate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-indeterminate {
  animation: indeterminate 1.5s infinite linear;
}

@keyframes scanline {
  0% {
    top: 0%;
  }
  50% {
    top: 96%;
  }
  100% {
    top: 0%;
  }
}

.animate-scanline {
  animation: scanline 2.5s ease-in-out infinite;
}
